.future-head {
    color: #fff;
    background-color: #047aed;
}
.future-head img{
    width: 200px;
    justify-self: flex-end;
}
.xl{
    font-size: 40px;
    font-weight: bold;
}
.lead{
    font-size: 20px;
    max-width: 600px;
}
.platform{
    background-color: #f4f4f4;
    padding: 40px;
}
.platform-text{

}
.platform img{
   width: 300px;
   justify-content: flex-end;
}
.platform h1{
    font-size: 30px;
    font-weight: bold;
}
.platform p{
    max-width: 600px;
    margin: 10px 0;
}
.server-list .grid{
padding: 40px;
}

 .server-list .card  P{
    margin: 10px 0
 }
 .server-list .card  i{
   
    margin-right: 20px;
 }
 .server-list .grid  > *:first-child{
    grid-column: 1/span 3;
   
 }
 .server-list .grid > *:nth-child(2){
    grid-column: 1/span 2 ;
  
 }




/*media*/
@media(max-width:768px) {
    /*body{
        display: none;
    }*/
    
    .grid,
    .future-head,
    .platform,
    .server-list{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      
    }
    .future-head{
        margin: auto;
        height: auto;
    }

    .server-list .grid > *:first-child{
        grid-column: 1/span 3;
        /*grid-row: 1/ span 3;*/
     }
     .server-list .grid :nth-child(2){
        grid-column: 1/span 3;
        /*grid-row: 1/ span 3;*/
     }
     .server-list .grid :nth-child(3){
        grid-column: 1/span 3;
        /*grid-row: / span 3;*/
     }
     .server-list .grid :nth-child(4){
        grid-column: 1/span 3;
        /*grid-row: / span 3;*/
     }
     .server-list .grid :nth-child(5){
        grid-column: 1/span 3;
        /*grid-row: / span 3;*/
     }
     .server-list .grid :nth-child(6){
        grid-column: 1/span 3;
        /*grid-row: / span 3;*/
     }
    
 }



 /*monile*/
@media (max-width: 500px){
  
  .f-items,
  .platform-items
  {
    display: grid;
    justify-self: center;
    justify-content: center;
   justify-items: center;
   overflow: hidden;
   margin: auto;
   height: auto;
   text-align: center;
  }
  /*.platform-items{
    margin: 29;
  }*/

  .server-list{
    margin: auto;
    width: auto;
    height: auto;
  }
  .server-list .grid > *:first-child{
    /*grid-column: 1;   */
 }
 .server-list .grid > * :nth-child(2){
    grid-column: 1;
 }
 .server-list .grid > *  :nth-child(3){
    grid-column: 1;
 }
 .server-list .grid > *  :nth-child(4){
    grid-column: 1;
 }
 .server-list .grid > *  :nth-child(5){
    grid-column: 1;
 }
}