/*tablates*/
@media(max-width:768px) {
    .grid,
    .showcase .grid,
    .status .grid,
    .cli .grid,
    .cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        margin: auto;
        height: auto;
    }

    .showcase-text {
        align-items: center;
        margin-top: 40px;
        animation: slide_top 1s ease-in;
    }

    .showcase-form {
        justify-self: center;
        width: 65%;
        animation: slide_bottom 1s ease-in;
    }
    .cli{
        justify-self: center;
    }
    .cli img{
        width: 100%;
        height: 180px;
    }
    .cli .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
     }
     .cloud img{
        width: 80%;
        margin-left:45px ;
     }
     .footer{
        padding: 50px 40px;
     }
    .footer_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
       
     }
}

/*mobile*/
@media (max-width:500px) {
  
    .navbar{
        height:110px;
    }
    .navbar .flex{
        flex-direction: column;
        overflow: hidden;
    }
    .navbar ul{
        padding: 10px;
        background: rgba(0, 0, 0, 0.2);
    }
    .showcase-form {
        justify-self: center;
        width: 80%;
    }
}